@import '../../assets/styles/GlobalStyles.module.scss';

.blogPost {
    padding-top: 70px;
    padding-bottom: 50px;

    .section__title {
        margin-bottom: 15px;
        font-weight: 700;
        font-size: 30px;
        line-height: 16px;
        text-align: center;
        color: #3D3D3D;

        & + p {
            margin-bottom: 35px;
            font-size: 14px;
            line-height: 24px;
            text-align: center;
            color: #727272;
        }
    }

    .card__wrapper {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-column-gap: 44px;
    }
}

.card {
    &__img {
        height: 195px;
        object-fit: fill;
        overflow: hidden;
    }

    &__content {
        padding: 9px 13px 13px 13px;
        background-color: #FBFBFB;

        .card__data {
            margin-bottom: 4px;
            font-weight: 500;
            font-size: 14px;
            line-height: 16px;
            color: $green;
        }

        .title {
            margin-bottom: 4px;
            font-weight: 700;
            font-size: 20px;
            line-height: 26px;
            color: $header-text;
        }

        .description {
            margin-bottom: 9px;
            font-weight: 400;
            font-size: 14px;
            line-height: 22px;
            color: #727272;
        }

        .read_more {
            display: inline-flex;
            align-items: center;
            cursor: pointer;
            transition: .3s ease;

            span {
                font-weight: 500;
                font-size: 14px;
                line-height: 16px;
                color: #3D3D3D;
            }

            .icon {
                width: 16px;
                height: 16px;
                margin-left: 6px;

                svg {
                    fill: #3D3D3D;
                }
            }

            &:hover {
                span {
                    color: $green;
                }

                .icon {
                    svg {
                        fill: $green;
                    }
                }
            }
        }
    }
}